<body>
  <header>
    <h1>Seja bem vindo
      <h1>ao <span id="vita">VITA</span></h1>
     </h1>
  </header>

  <main>

    <form class="login">
      <h1>LOGIN</h1>
      <label for="email">
        <p>E-mail</p>
      <input type="text">
      </label>
      
      <label for="senha">
        <p>Senha</p>
        <input type="password" name="" id="">
        <a href="">Esqueci minha senha</a>
      </label>
     

      <button id="entrar">ENTRAR</button>
    </form>

    <section id="iconsLogin">
      <p>Fazer login com</p>
      <img src="" alt="">
      <img src="" alt="">
    </section>

  </main>
</body>